$blue: #216ae0
$red: #d10300
$oblue: rgba(33, 106, 224, 0.5)
$ored: rgba(209, 3, 0, 0.5)
    
%qtransition
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s

html,
body
    width: 100vw
    // overflow-x: hidden
    padding: 0
    margin: 0
    background: #ffffff
    
.team
    padding: 0.5em
    flex: 1 1 25%

.blue
    color: $blue

.red
    color: red

.bluelabel, .redlabel
    display: block
    text-transform: capitalize

.databox
    margin: 1em

.teamstats
    position: relative
    margin-bottom: 5em
    margin-left: -2em
    width: 31em
    height: 31.5em

.geninput, .dropdown
    display: block
    width: 18em
    padding: 10px
    border-radius: 5px

.blueborder
    border: 2px solid $blue

.redborder
    border: 2px solid $red

.alliancestrengths
    display: flex
    justify-content: center
    align-items: center

.alliancestrength
    padding: 2em
    text-align: center
    flex: 1 1 50%

.graphcard
    background: #ffffff
    box-shadow: 0 0 6px 0 $oblue
    width: 20em
    border: 2px solid $oblue
    border-radius: 5px
    float: left
    margin: 1em
    height: 20em
    @extend %qtransition
    &:hover
        @extend %qtransition
        box-shadow: 0 0 20px 0 $oblue


.graph
    margin: 2em 0

.face
    padding: 1em 2em
    height: 100%
    width: 100%

.wrapper
    width: 100vw
    // height: 100vh
    display: flex
    justify-content: center
    align-items: center
    margin-top: 7em

.teamname
    margin-top: 3em

input[type='submit']
    background: transparent
    border: 2px solid $red
    font-size: 1.2em
    border-radius: 5px
    margin: 1.2em
